// =============================================================================
//  Image of unknown dimensions centered/stretched in a container of fixed size
//
//  @author github.com/developerant ;-) x
//  @param {px} $width
//  @param {px} $height ($width)
// =============================================================================

@mixin centered-image-container($width, $height: $width) {
    display: block;
    position: relative;
    width: $width;
    height: $height;
    overflow: hidden;
    transform-style: preserve-3d;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: none;
        max-height: none;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
        backface-visibility: visible;
    }
}
