// =============================================================================
//  Provides an accessible way to hide text where background images are used
//  on that element.
//
//  @param {Bool} $extend (true) - extend or include this pattern
//  @link http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement
// =============================================================================

@mixin hide-text($extend: true) {

	@if $extend {
		@extend %hide-text;

	} @else {
		text-indent: 200%; // 200% allows for padding
		white-space: nowrap;
		overflow: hidden;
	}
}

%hide-text {
	@include hide-text($extend: false);
}
