
// =============================================================================
// Icons
// =============================================================================

// =============================================================================
//  SVG's
// =============================================================================

// Example usage:

// <a href="/" class="button">
// <svg class="icon-twitter">
// 	<use xlink:href="#twitter"></use>
// </svg>
// </a>

// Example styling

// [class^="icon-"] {
//   width:32px;
//   height:32px;
//   fill:#444;
// }


// =============================================================================
//  Icon fonts
// =============================================================================

// Example include icon font

// @font-face {
// 	font-family: 'icons';
// 	src:url('../fonts/icomoon.otf');
// 	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/icomoon.ttf') format('truetype'),
// 		url('../fonts/icomoon.woff') format('woff'),
// 		url('../fonts/icomoon.svg#font-icons') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// For use in both elements and pseudo elements
%icon-properties {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-decoration: inherit;
	text-align: center;
	text-transform: none;
	text-indent: 0;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// font-smooth: always;
}

// For use in pseudo elements :after and :before
@mixin icon-font($type, $size: $font-xl, $lineheight: true, $rem: true) {
	@extend %icon-properties;
	display: inline-block;
	min-height: $size;
	@include rem('font-size', $size);
	line-height: $size;

	@if $lineheight { line-height: 1; }
	@if $rem { @include rem('font-size', $size); } @else { font-size: $size; }

	@if $type == "plus"        { content: 'a'; }
	@if $type == "minus"       { content: 'b'; }
	@if $type == "facebook"    { content: 'c'; }
}

// Example usage:
// [class*="icon-"], [class^="icon-"] {
// 	@extend %icon-properties;
// }
